{{form.institution_name.label(class='form-label')}}{{form.institution_name(class='form-control')}}
{{form.campus.label(class='form-label')}}{{form.campus(class='form-control')}}
{{form.level.label(class='form-label')}}{{form.level(class='form-control')}}
{{form.course.label(class='form-label')}}{{form.course(class='form-control')}}
{{form.mode_of_study.label(class='form-label')}}{{form.mode_of_study(class='form-control')}}
{{form.expected_completion_year.label(class='form-label')}}{{form.expected_completion_year(class='form-control')}}