{% extends 'top-bottom.html' %}
{% block main %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rekindled Dream</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <a class="nav-link active" aria-current="page" href="#">Bursaries</a>
                </li>
                <a class="nav-link active" aria-current="page" href="#">Applications</a>
                </li>
                <a class="nav-link active" aria-current="page" href="#">Link</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <p>{{user.details.photo_url}}</p>
                        {% if user.details.photo_url %}

                        <img src="{{url_for('static',filename=user.details.photo_url)}}" alt="" width="32" height="32"
                            class="rounded-circle me-2">
                        {% else %}
                        <img src="{{url_for('static',filename=user.details.photo_url)}}" alt="" width="32" height="32"
                            class="rounded-circle me-2">
                        {% endif %}

                        <strong>{{user.name}}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{url_for('auth_bp.logout')}}">Sign out</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row mt-5">

        <div class="col-md-2 p-0 h-100">

            <div class="flex-shrink-0 p-3" style="width: 280px;">
                <a href="{{url_for('student_bp.main')}}"
                    class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none">
                    <svg class="bi pe-none me-2" width="30" height="24">
                        <use xlink:href="#bootstrap" />
                    </svg>
                    <span class="fs-5 fw-semibold"> Home</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#bio-data-collapse" aria-expanded="true">
                            Bio Data
                        </button>
                        <div class="collapse show" id="bio-data-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{{url_for('student_bp.details')}}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">View Bio
                                        Data</a></li>
                                <li><a href="{{url_for('student_bp.add_details')}}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add Bio
                                        Data</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#education-collapse" aria-expanded="false">
                            Education
                        </button>
                        <div class="collapse" id="education-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{{url_for('student_bp.view_education')}}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Education</a>
                                </li>
                                <li><a href="{{url_for('student_bp.add_education')}}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add
                                        Education</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#siblings-collapse" aria-expanded="false">
                            Siblings
                        </button>
                        <div class="collapse" id="siblings-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{{url_for('student_bp.view_siblings')}}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Siblings</a>
                                </li>
                                <li><a href="{{url_for('student_bp.add_siblings')}}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add
                                        Siblings</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#parent-collapse" aria-expanded="false">
                            Parent/Guardian
                        </button>
                        <div class="collapse" id="parent-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{{url_for('student_bp.view_parent')}}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Parent</a>
                                </li>
                                <li><a href="{{url_for('student_bp.add_parent')}}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add
                                        Parent</a>
                                </li>
                            </ul>
                        </div>
                    </li> 
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#documents-collapse" aria-expanded="false">
                            Documents
                        </button>
                        <div class="collapse" id="documents-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{{url_for('student_bp.add_document')}}"
                                    class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add
                                    Documents</a>
                                </li>
                                <li><a href="{{url_for('student_bp.view_document')}}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Documents</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    
                </ul>
            </div>
        </div>
        <div class="col-md-10 mt-2 d-flex justify-content-center">
            <div class="mid-section w-100">
                {% block center %}

                {% endblock center %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
{% block title %}
student Dashboard
{% endblock title %}