{% extends 'student/student-dashboard.html' %}
{% block center %}
<div class="form-section w-50 mx-auto text-center">

    <h3> Update Education Details</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">

        <ul>
            {% for message in messages %}
            <li>
                <strong>{{ message }}</strong>
            </li>
            {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{form.institution_type.label(class='form-label')}}{{form.institution_type(class='form-select')}}
        {{form.institution_name.label(class='form-label')}}{{form.institution_name(class='form-control',value=education_details.institution_name)}}
        {{form.institution_code.label(class='form-label')}}{{form.institution_code(class='form-control',value=education_details.institution_code)}}
        {{form.campus.label(class='form-label')}}{{form.campus(class='form-control',value=education_details.campus)}}
        {{form.level.label(class='form-label')}}{{form.level(class='form-control',value=education_details.level)}}
        {{form.course.label(class='form-label')}}{{form.course(class='form-control',value=education_details.course)}}
        {{form.mode_of_study.label(class='form-label')}}{{form.mode_of_study(class='form-control',value=education_details.mode_of_study)}}
        {{form.start_date.label(class='form-label')}}{{form.start_date(class='form-control',value=education_details.start_date)}}
        {{form.end_date.label(class='form-label')}}{{form.end_date(class='form-control',value=education_details.end_date)}}
        {{form.funding_source.label(class='form-label')}}{{form.funding_source(class='form-control',value=education_details.funding_source)}}
        {{form.details.label(class='form-label')}}{{form.details(class='form-control',value=education_details.details)}}
        {{form.grade.label(class='form-label')}}{{form.grade(class='form-control',value=education_details.grade)}}
        <br>
        {{form.submit(class='btn btn-outline-primary btn-sm')}}
    </form>
</div>
{% endblock center %}