{% extends "student/student-dashboard.html" %}

{% block center %}
<h3>Education details</h3>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>

            <tr>
                <th scope="col">Institution Type</th>
                <th scope="col">Institution Name</th>
                <th scope="col">Institution Code</th>
                <th scope="col">start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Grade</th>
                <th scope="col">Level</th>
                <th scope="col">Campus</th>
                <th scope="col">Course</th>
                <th scope="col">Mode Of Study</th>
                <th scope="col">Funding Source</th>
                <th scope="col">Funding Details</th>
                <th scope="'col" colspan="2"> Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in education_details %}
            <tr>
                <td scope="row">{{detail.institution_type.value}}</td>
                <td scope="row">{{detail.institution_name}}</td>
                <td scope="row">{{detail.code}}</td>
                <td scope="row">{{detail.start_date}}</td>
                <td scope="row">{{detail.end_date}}</td>
                <td scope="row">{{detail.grade}}</td>
                <td scope="row">{{detail.level}}</td>
                <td scope="row">{{detail.campus}}</td>
                <td scope="row">{{detail.course}}</td>
                <td scope="row">{{detail.mode_of_study}}</td>
                <td scope="row">{{detail.funding_source}}</td>
                <td scope="row">{{detail.details}}</td>
                <td scope="row"> <a href="{{url_for('student_bp.update_education', id=detail.id)}}" class="btn btn-outline-primary btn-sm">Update </a> </td>
                <td scope="row"> <a href="{{url_for('student_bp.education_by_id', id=detail.id)}}"  class="btn btn-outline-danger btn-sm">Delete </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock center %}