{% extends 'top-bottom.html' %}

{% block main %}
<div class="main mt-5">
    <div class="w-25  mx-auto text-center">
        <img src="{{url_for('static', filename='system/students.png')}}" alt="" srcset=""
            style="width:100px;height:100px;">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <strong>{{ message }}</strong>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h3>Create Account</h3>
        <form method='POST' action="{{url_for('auth_bp.register')}}" class='form'>
            {{form.hidden_tag()}}
            {{form.email.label(class='form-label')}} {{form.email(class='form-control')}} <br /><br />
            {{form.name.label(class='form-label')}} {{form.name(class='form-control')}} <br /><br />
            {{form.id_no.label(class='form-label')}} {{form.id_no(class='form-control')}} <br /><br />
            {{form.phone.label(class='form-label')}} {{form.phone(class='form-control')}} <br /><br />
            {{form.password.label(class='form-label')}} {{form.password(class='form-control')}} <br /><br />
            {{form.password2.label(class='form-label')}} {{form.password2(class='form-control')}} <br /><br />
            {{form.submit(class='btn btn-primary btn-sm w-100 py-3')}}
        </form>
    </div>
</div>


{% endblock %}
{% block title %}
Register
{% endblock title %}